[user]
name = Higor Alves
email = me@higoralves.dev
signingkey = CF3657F37E580DB3

[alias]
  staash = stash -all

[rerere]
	enabled = true
[column]
	ui = auto
[commit]
	gpgsign = true

; [includeIf "gitdir:~/Developer/[COMPANY]/"]
;   path = ~/Developer/[COMPANY]/.gitconfig